<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Tests on virtual iOS device">
        <parameter name="platformName" value="iOS"/>
        <parameter name="udid" value="5D87C5DC-10EB-4056-955E-E0AE6118E0A7"/>
        <parameter name="deviceName" value="Nana"/>
        <parameter name="virtualDevice" value="true"/>
        <parameter name="wdaLocalPort" value="10002"/>
        <parameter name="webkitDebugProxyPort" value="11002"/>
        <classes>
            <class name="FrameworkMediumIos.runners.MytestngRunnerTest"/>
        </classes>
    </test>
</suite>